# op inject -i .env.template -o .env
RABBITMQ_HOST=op://Shared/Triarc-Cloud-Admin/host
RABBITMQ_AMQP_PORT=5671
RABBITMQ_AMQP_PROTOCOL=amqps
RABBITMQ_MANAGEMENT_PORT=443
RABBITMQ_MANAGEMENT_PROTOCOL=https
RABBITMQ_USERNAME=op://Shared/Triarc-Cloud-Admin/username
RABBITMQ_PASSWORD=op://Shared/Triarc-Cloud-Admin/password
RABBITMQ_VHOST=/
# Optional timeout for RabbitMQ HTTP requests (ms)
RABBITMQ_REQUEST_TIMEOUT_MS=10000
